<!--extend base.html-->
{% extends 'content/base.html' %}
<!--load tags-->
{% load static %}
{% load i18n %}

<!--your title block here-->
{% block title %}
    {% translate "Public Joint Stock Company 'Nikopol Pipeline Fittings Plant' (Nikopol foundry and mechanical plant 'Bolshevik')" %}
{% endblock title %}
<!--title end-->


<!--HEADER -> BASE.HTML-->


<!--your content block here-->
{% block content %}

<body class=""
      style="font-family: 'Roboto'; background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(245,238,238,1) 45%, rgba(238,238,245,1) 60%, rgba(238,245,238,1) 65%, rgba(238,238,238,1) 100%)">
<!--LOADING SPINNER-->
<div class="mask">
    <div class="loader">
        <svg viewBox="0 0 80 80">
            <circle id="test" cx="40" cy="40" r="32"></circle>
        </svg>
    </div>

    <div class="loader triangle">
        <svg viewBox="0 0 86 80">
            <polygon points="43 8 79 72 7 72"></polygon>
        </svg>
    </div>

    <div class="loader">
        <svg viewBox="0 0 80 80">
            <rect x="8" y="8" width="64" height="64"></rect>
        </svg>
    </div>
</div>
<!--JS SPINNER-->
<script src="{% static 'js/spinner.js' %}"></script>
<!--LOADING SPINNER END-->

<!--button up-->
<a id="scrollToTopButton" class="fs-3 shadow-0 mx-2 btn-rounded text-primary btn-animate"
   style="position: fixed; bottom: 50px; right: 40px; display: none; z-index: 100"
   href="#header">
    <i class="fas fa-arrow-up-long fa-2x" ></i>
</a>
<script src="{% static 'js/button_up.js' %}"></script>
<!--button end-->



<!--SWIPER-->
<section class="container-fluid mb-9 shadow-lg" id="header"
         style="background: linear-gradient(0deg, rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(static/images/bg1.jpg);
        height: 400px;
        background-position: 0% 90%;
        background-size: 150vh;
        background-repeat: repeat;
        background-attachment: fixed">
    <div class="row">
        <div class="col-12 px-0">
            <div class="swiper mySwiper" style="height: 400px; max-width: 1000px">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <img src="{% static 'images/D75_5057.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/D75_5044.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/D75_5005.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/D75_5001.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!--SWIPER END-->

<!--ADD STATICS FURTHER DOWN-->


<!--ABOUT US-->
<section class="my-5 mb-10 text-center text-lg-start">
    <!-- Jumbotron -->
    <div class="container">
        <div class="row g-0">
            <div data-aos="fade-right" data-aos-duration="1000" class="col-lg-6 my-auto"><img
                    src="{% static 'images/MLIT-01.jpg' %}"
                    class="w-75 rounded-4 shadowlg" alt="" draggable="false"></div>
            <div class="col-lg-6 my-auto">
                <div class="card cascading-right"
                     style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
                    <div class="card-body py-5 px-md-5 shadow-lg"><h2 class="fw-bold mb-4">{% translate 'About us' %}</h2>
                        <p class="text-muted mb-4">
                            {% translate 'LIMITED LIABILITY COMPANY "M-LIT" (Nikopol Pipeline Valve Plant,' %}
                            {% translate 'formerly Nikopol Foundry and Mechanical Plant "Bolshevik") is a large specialized enterprise' %}
                            {% translate 'known in Ukraine and abroad for the production of shut-off valves.' %}</p>
                        <div class="row mb-3">
                            <div data-aos="zoom-in" class="col-lg-4"><p>
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>{% translate 'Best team' %}</span>
                            </p>
                            </div>
                            <div data-aos="zoom-in" data-aos-delay="400" class="col-lg-4">
                                <p>
                                    <i class="fas fa-check-circle text-success me-2"></i>
                                    <span>{% translate 'Best quality' %}</span>
                                </p>
                            </div>
                            <div data-aos="zoom-in" data-aos-delay="800" class="col-lg-4">
                                <p>
                                    <i class="fas fa-check-circle text-success me-2"></i>
                                    <span>{% translate 'Best experience' %}</span>
                                </p>
                            </div>
                        </div>
                        <p class="text-muted mb-0 d-none d-sm-block">
                            {% translate 'LLC "M-LIT" (NZTA) (formerly Nikopol Foundry and' %}
                            {% translate 'Mechanical Plant "Bolshevik") is a large specialized enterprise known in Ukraine and abroad' %}
                            {% translate 'for the production of shut-off valves. The company was created more than 115 years ago.' %}
                            {% translate 'During this period, the plant went from producing furnace castings to producing cast iron' %}
                            {% translate 'valves used as shut-off devices on pipelines to shut off the working environment. The' %}
                            {% translate 'company produces cast iron valves with a nominal bore from 50 mm to 500 mm, grades 30ch6br' %}
                            {% translate 'and 30ch906br for water and steam, with manual control and electric drive; 30ch6bk for' %}
                            {% translate 'petroleum products and oils; 30ch47bk4 and 30ch47br for natural gas and water with nominal bore from 50 mm to 150 mm. "M-LIT" today is' %}
                            {% translate 'technical equipment of production with universal and specialized equipment,' %}
                            {% translate 'qualified specialists, which, combined with extensive experience of the plant in this' %}
                            {% translate 'industry allows the enterprise team to produce a wide range of products' %}
                            {% translate 'pipeline fittings. Contact us - and we will fulfill your order quickly and' %}
                            {% translate 'qualitatively. Products bearing the logo of our company can be found everywhere - from' %}
                            {% translate 'huge metallurgical plants, thermal power plants, quarries to irrigation systems in rural' %}
                            {% translate 'economy, public utilities of any settlement in the CIS countries. And products are everywhere' %}
                            {% translate 'Our enterprise operates efficiently and reliably.' %}</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT US END-->


<!--OUR PRODUCTS KEY-->

<section>
    <div class="container">
        <h2 class="fw-bold text-center my-5">
            <span data-aos="fade-down">{% translate 'MEET' %}</span>
            <span data-aos="fade-down" data-aos-delay="200">{% translate 'OUR' %}</span>
            <u data-aos="fade-down" data-aos-delay="400" class="text-success">{% translate 'PRODUCTS' %}</u>
        </h2>
        <div class="container-fluid text-center">
            <img data-aos="fade-left" draggable="false" src="{% static 'images/Train-PNG-File-Download-Free.png' %}" alt=""
                 class="img-fluid w-25 rounded-circle" style="">
        </div>
        <!--        ЦВЕТ ЗЕЛЕНЫЙ -->
        <div class="row gy-3">
            <div data-aos="fade-right"
                 class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3"
                 data-mdb-ripple-color="success" style="height: auto">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/кл2-removebg-preview.png' %}"
                     class="w-25 btn-animate me-2" alt="" style="max-height: 150px; max-width: 150px;">
                <img draggable="false" src="{% static 'images/кл1-removebg-preview.png' %}"
                     class="w-25 btn-animate me-2" style="max-height: 150px; max-width: 150px" alt="">
                <img draggable="false" src="{% static 'images/кт1-removebg-preview.png' %}"
                     class="img-fluid w-25 btn-animate me-2" style="max-height: 150px; max-width: 150px" alt="">
                <img draggable="false" style="max-height: 150px; max-width: 150px"
                     src="{% static 'images/кт2-removebg-preview.png' %}" class="img-fluid w-25 btn-animate me-2" alt="">
                <img draggable="false" style="max-height: 150px; max-width: 150px"
                     src="{% static 'images/кт3-removebg-preview.png' %}" class="img-fluid w-25 btn-animate me-2" alt="">
                <img draggable="false" style="max-height: 150px; max-width: 150px"
                     src="{% static 'images/кт4-removebg-preview.png' %}" class="img-fluid w-25 btn-animate me-2" alt="">
            </div>
            <div class="col-12 col-md-5 text-center mx-auto">
                <h4 data-aos="fade-up" class="fw-bold">{% translate 'Wadges' %}</h4>
                <div data-aos="fade-up" class="mb-2 text-success small">
                    <i class="fas fa-globe-americas me-2"></i>
                    <span>{% translate 'Best experience' %}</span>
                </div>
                <p data-aos="fade-up" class="text-muted">
                    Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                    placerat vulputate. Ut
                    vulputate est non quam
                    dignissim elementum. Donec a ullamcorper diam.</p>
                <button data-aos="fade-up" class="btn btn-success btn-animate px-3">
                        <span>More
                            <i class="fas fa-train ms-1"></i>
                        </span>
                </button>
            </div>
            <div class="col-12 col-md-5 text-center mx-auto">
                <h4 data-aos="fade-up" class="fw-bold">{% translate 'Pads' %}</h4>
                <div data-aos="fade-up" class="mb-2 text-success small">
                    <i class="fas fa-check-circle me-2"></i>
                    <span>{% translate 'Best quality' %}</span>
                </div>
                <p data-aos="fade-up" class="text-muted">
                    Ut pretium ultricies dignissim. Sed sit amet mi eget urna
                    placerat vulputate. Ut
                    vulputate est non quam
                    dignissim elementum. Donec a ullamcorper diam.</p>
                <button data-aos="fade-up" class="btn btn-success btn-animate px-3">
                        <span>{% translate 'More' %}
                            <i class="fas fa-train ms-1"></i>
                        </span>
                </button>
            </div>
        </div>
    </div>
</section>
<!--OUR PRODUCTS KEY END-->

<div class="container-fluid text-center mt-5">
    <img draggable="false" src="{% static 'images/pipe.png' %}" alt="" class="img-fluid">
</div>
<!--OUR PRODUCTS WATER-->
<section class="container my-5 text-center text-lg-start">
    <h3 class="fw-bold mb-5 text-center">
        <span>{% translate 'Shut-off' %}</span>
        <u class="text-primary">{% translate 'valves' %}</u>
    </h3>
    <div class="row gx-lg-5 my-5">
        <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div data-aos="fade-right"
                 class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3 btn-animate"
                 data-mdb-ripple-color="primary" style="height: 265px">
                <img draggable="false" src="{% static 'images/zatvor-19ch16br.png' %}" class="mt-5 pt-3 me-3" alt="">
                <img draggable="false" src="{% static 'images/zatvor-19ch21br.png' %}" class="mt-5 pt-3" alt="">
            </div>
            <h5 data-aos="fade-right" class="fw-bold">{% translate ' Gates' %}</h5>
            <div class="mb-3 text-primary small">
            </div>
            <p data-aos="fade-right" class="text-muted">
                Cast iron flanged check valves
                intended for preventing the reverse flow of the working medium in pipelines transporting water, steam,
                oil,
                oils and other petroleum products </p>
            <button data-aos="fade-right" class="btn btn-primary btn-animate px-3">
                        <span>{% translate 'More' %}
                            <i class="fas fa-droplet ms-1"></i>
                        </span>
            </button>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div>
                <div data-aos="fade-up"
                     class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3 btn-animate"
                     data-mdb-ripple-color="primary" style="height: 265px">
                    <img draggable="false" src="{% static 'images/prod1.png' %}" class="img" alt="">
                </div>
                <h5 data-aos="fade-up" class="fw-bold">
                    Cast iron valves</h5>
                <div class="mb-3 text-danger small">
                </div>
                <p data-aos="fade-up" class="text-muted">Purpose and scope:
                    Parallel double disc valves are designed
                    for installation as a locking device on
                    pipelines of various industries.</p>
                <button data-aos="fade-up" class="btn btn-primary btn-animate px-3">
                        <span>More
                            <i class="fas fa-droplet ms-1"></i>
                        </span>
                </button>
            </div>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div>
                <div data-aos="fade-up" class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3 btn-animate"
                     data-mdb-ripple-color="primary" style="height: 265px">
                    <img draggable="false" src="{% static 'images/vantuz1.png' %}" class="mt-4" alt="">
                </div>
                <h5 data-aos="fade-up" class="fw-bold mb-3"> Plungers</h5>
                <div class="mb-3 text-warning small mx-auto">
                    <p data-aos="fade-up" class="text-muted text-start">
                        Cast iron aeration plungers are designed for automatic removal
                        air when it accumulates, as well as for its automatic intake when a vacuum is formed in
                        water supply systems, water heating and other network devices transporting water from
                        temperatures up to 363K (900 C)</p>
                    <button data-aos="fade-up" class="btn btn-primary btn-animate px-3">
                        <span>More
                            <i class="fas fa-droplet ms-1"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR PRODUCTS WATER END-->

<!--OUR PRODUCTS IRON CASTING-->
<section class="container my-5 mb-10">
    <div class="card mb-3 shadow-lg">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-5 col-xl-4 d-none d-lg-flex"><img
                    src="{% static 'images/D75_5057.jpg' %}" alt=""
                    class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5 ms-3"></div>
            <div class="col-lg-7 col-xl-8 text-center text-md-start">
                <div class="card-body px-md-5">
                    <h3 class="fw-bold mb-4 text-danger"><u>Iron casting</u></h3>
                    <p class="text-muted mb-4">Nunc tincidunt vulputate elit. Mauris varius purus malesuada neque
                        iaculis malesuada. Aenean gravida magna orci, non efficitur est porta id. Donec magna
                        diam.</p>
                    <div class="row">
                        <div data-aos="fade-up" class="col-6 col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>Light hatch</span>
                            </p>
                        </div>
                        <div data-aos="fade-up" class="col-6 col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>Hatch average</span>
                            </p>
                        </div>
                        <div data-aos="fade-up" class="col-lg-4">
                            <p><i class="fas fa-check text-success me-2"></i>
                                <span>Hatch heavy</span>
                            </p>
                        </div>
                        <div data-aos="fade-up" class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>Hatch anti-vandal</span>
                            </p>
                        </div>
                        <div data-aos="fade-up" class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>Storm water inlets</span>
                            </p>
                        </div>
                        <div data-aos="fade-up" class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>Storm grates</span>
                            </p>
                        </div>
                        <div data-aos="fade-up" class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>Benches</span>
                            </p>
                        </div>
                        <div data-aos="fade-up" class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>Car wedges</span>
                            </p>
                        </div>
                        <div data-aos="fade-up" class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>Car brake pads</span>
                            </p>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-12 text-center">
                        <button class="btn btn-danger btn-animate px-3">
                            <span>More
                                <i class="fas fa-fill-drip ms-1"></i>
                            </span>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!--IRON CASTING END-->
<!--OUR PRODUCTS END-->


<!--OUR ADVANTAGES-->
<section class="container my-5 mb-10">
    <h2 class="fw-bold mb-5 text-center">
        <u class="text-primary">Best</u>
        <span>for your business</span>
    </h2>
    <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
            <div data-aos="fade-right" data-aos-duration="1000" class="bg-image rounded-5 shadow-lg"
                 style="background-image: url(static/images/D75_4995.jpg); height: 560px; background-size: cover; background-position: 50% 50%;">
                <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" class="mask1"
                     style="background-color: rgba(0, 0, 0, 0.5)">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="px-4 py-5 px-md-5 text-white text-center"><h3
                                class="text-uppercase fw-bold mb-4"><span>THE FUTURE IS</span>
                            <u class="text-primary">now</u></h3>
                            <p class="" style="color: hsl(231, 52.6%, 85%)">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Harum quia laboriosam error consequuntur fugit,
                                doloribus rerum, iure nesciunt amet quidem veniam cupiditate hic fugiat dolore
                                aperiam quisquam libero earum quibusdam?</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 mb-4 mb-lg-0">
            <div data-aos="fade-up" class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow" style="background-color: hsl(231, 52.6%, 20%)">
                        <i class="fas fa-industry fa-lg text-white"></i></div>
                </div>
                <div class="flex-grow-1 ms-4">
                    <p class="fw-bold mb-1">Full cycle production</p>
                    <p class="text-muted mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil
                        quisquam quibusdam modi sapiente magni molestias pariatur facilis reprehenderit facere
                        aliquam ex.</p>
                </div>
            </div>
            <div data-aos="fade-up" class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow" style="background-color: hsl(231, 52.6%, 20%)"><i
                            class="fas fa-shield-alt fa-lg text-white fa-fw"></i></div>
                </div>
                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Modern equipment</p>
                    <p class="text-muted mb-0">Eum nostrum fugit numquam, voluptates veniam neque quibusdam ullam
                        aspernatur odio soluta, quisquam dolore animi mollitia a omnis praesentium, expedita
                        nobis!</p></div>
            </div>
            <div data-aos="fade-up" class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow" style="background-color: hsl(231, 52.6%, 20%)"><i
                            class="fas fa-shipping-fast fa-lg text-white fa-fw"></i></div>
                </div>
                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Fast delivery</p>
                    <p class="text-muted mb-0">Eum nostrum fugit numquam, voluptates veniam neque quibusdam ullam
                        aspernatur odio soluta, quisquam dolore animi mollitia a omnis praesentium, expedita
                        nobis!</p></div>
            </div>
            <div data-aos="fade-up" class="d-flex align-items-start">
                <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow" style="background-color: hsl(231, 52.6%, 20%)"><i
                            class="fas fa-chart-pie fa-lg text-white fa-fw"></i></div>
                </div>
                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">Quality is guaranteed</p>
                    <p class="text-muted mb-0">Illum doloremque ea, blanditiis sed dolor laborum praesentium maxime
                        sint, consectetur atque ipsum ab adipisci ullam aspernatur odio soluta, quisquam dolore</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR ADVANTAGES END-->

<!--OUR CLIENT-->
<section class="container my-5 text-center">
    <h2 class="fw-bold mb-5">
        <span>Our</span>
        <u class="text-primary">Clients</u>
    </h2>
    <div class="row gx-lg-5">
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            {% static 'images/clients/p9.png' %}
            <img src="{% static 'images/clients/nzf-logo.png' %}"
                 class="rounded-circle shadow mb-3 px-3 py-1 bg-primary" alt=""
                 style="width: auto; height: 60px">
            <p class="fw-bold">ПАО «Никопольский завод ферросплавов»</p>
        </div>
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/amk.png' %}"
                 class="rounded-circle shadow mb-0 px-3 py-1 bg-primary" alt=""
                 style="width: auto; height: 80px">
            <p class="fw-bold">ПАО «Алчевский металлургический комбинат»</p>
        </div>
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/p9.png' %}"
                 class="rounded shadow mb-3 px-3 py-1 bg-primary" alt=""
                 style="width: auto; max-height: 80px">
            <p class="fw-bold">АО «Промарматура» г. Днепропетровск</p>
        </div>
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/p13.png' %}"
                 class="rounded-circle shadow mb-3 px-3 py-1 bg-primary" alt=""
                 style="width: auto; max-height: 60px">
            <p class="fw-bold">ООО «Интерекст» г. Киев</p>
        </div>
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/sn.png' %}"
                 class="rounded-circle shadow mb-3 px-3 py-1 bg-primary" alt=""
                 style="width: auto; max-height: 80px">
            <p class="fw-bold">АО «Сумской завод «Насосэнергомаш»»</p>
        </div>
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/yakz.png' %}"
                 class="rounded shadow mb-3 px-3 py-1 bg-primary" alt=""
                 style="width: auto; max-height: 80px">
            <p class="fw-bold">ПАО «Ясиновский коксохимический завод»</p>
        </div>
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/zkg.png' %}"
                 class="rounded shadow mb-3 px-3 py-1 bg-primary" alt=""
                 style="width: auto; max-height: 60px">
            <p class="fw-bold ">предприятия ЖКХ</p>
        </div>
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/p7.png' %}"
                 class="rounded shadow mb-3 px-3 py-1 bg-primary" alt=""
                 style="width: auto; max-height: 50px">
            <p class="fw-bold ">ЗАО «Белтепломашстрой» г. Минск</p>
        </div>
        <div data-aos="fade-up" class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/p8.png' %}"
                 class="rounded shadow mb-3 px-3 py-1 bg-primary" alt=""
                 style="width: 250px; max-height: auto">
            <p class="fw-bold">ЗАО «Чистый берег» г. Минск</p>
        </div>
    </div>
</section>

<!--OUR CLIENTS END-->


<!--STATS-->
<section class="container my-5 text-center">
    <h2 class="fw-bold mb-7">
        <span>We build our</span>
        <u class="text-primary">Trust</u>
    </h2>
    <div class="row gx-lg-5">
        <div data-aos="fade-right" data-aos-delay="400" class="col-lg-4 col-md-12 mb-8 mb-lg-0">
            <div class="card shadow-2-strong h-100">
                <div class="d-flex justify-content-center" style="margin-top: -43px">
                    <div class="p-3 bg-primary rounded-circle shadow-5-strong d-inline-block"><i
                            class="fas fa-cubes fa-2x text-white"></i></div>
                </div>
                <div class="card-body"><h3 class="fw-bold text-primary mb-3">1000</h3> <h5
                        class="text-muted mb-3">Components</h5>
                    <p class="text-muted">
                        Laudantium totam quas cumque pariatur at doloremque hic quos quia eius</p></div>
            </div>
        </div>
        <div data-aos="fade-right" data-aos-delay="200" class="col-lg-4 mb-8 mb-lg-0">
            <div class="card shadow-2-strong h-100">
                <div class="d-flex justify-content-center" style="margin-top: -43px">
                    <div class="p-3 bg-primary rounded-circle shadow-5-strong d-inline-block"><i
                            class="fas fa-chart-pie fa-2x text-white"></i></div>
                </div>
                <div class="card-body"><h3 class="fw-bold text-primary mb-3">70%</h3> <h5
                        class="text-muted mb-3">Growth</h5>
                    <p class="text-muted">
                        Eum nostrum fugit numquam, voluptates veniam neque quibusdam ullam</p></div>
            </div>
        </div>
        <div data-aos="fade-right" class="col-lg-4 mb-8 mb-lg-0">
            <div class="card shadow-2-strong h-100">
                <div class="d-flex justify-content-center" style="margin-top: -43px">
                    <div class="p-3 bg-primary rounded-circle shadow-5-strong d-inline-block"><i
                            class="fas fa-cogs fa-2x text-white"></i></div>
                </div>
                <div class="card-body"><h3 class="fw-bold text-primary mb-3">49</h3> <h5
                        class="text-muted mb-3">Projects</h5>
                    <p class="text-muted">Cupiditate enim, minus nulla dolor cumque iure eveniet facere
                        ullam</p></div>
            </div>
        </div>
    </div>
</section>
<!--STATS END-->

<!--CONTACT US-->
<!--г. Никополь, ул.Электрометаллургов, 300 – новая площадка (литейный цех)-->
<section class="container my-5">
    <h2 class="fw-bold text-center my-5">
        <u class="text-primary">Contact</u>
        <span>Us</span>
    </h2>
    <div class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 d-none d-lg-flex">
                <!--                GOOGLE MAP ENGLISH-->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2690.60915931269!2d34.3780783!3d47.59484369999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dca3cfff35358f%3A0x65128b98055957f!2sElektrometalurhiv%20St%2C%20300%2C%20Nikopol&#39;%2C%20Dnipropetrovs&#39;ka%20oblast%2C%20Ukraine%2C%2053200!5e0!3m2!1sen!2skz!4v1694529900527!5m2!1sen!2skz"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">
                    <div class="row gx-lg-5">
                        <div class="col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <div class="p-3 bg-primary rounded-4 shadow"><i
                                            class="fas fa-headset fa-lg text-white fa-fw"></i></div>
                                </div>
                                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">
                                    Technical support</p>
                                    <p class="text-muted mb-0">support@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <div class="p-3 bg-primary rounded-4 shadow"><i
                                            class="fas fa-dollar-sign fa-lg text-white fa-fw"></i></div>
                                </div>
                                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">
                                    Sales questions</p>
                                    <p class="text-muted mb-0">sales@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <div class="p-3 bg-primary rounded-4 shadow"><i
                                            class="fas fa-newspaper fa-lg text-white fa-fw"></i></div>
                                </div>
                                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">
                                    Press</p>
                                    <p class="text-muted mb-0">press@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <div class="p-3 bg-primary rounded-4 shadow"><i
                                            class="fas fa-bug fa-lg text-white fa-fw"></i></div>
                                </div>
                                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">
                                    Bug report</p>
                                    <p class="text-muted mb-0">bugs@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CONTACT US END-->
</body>

{% endblock content %}
<!--content end-->


<!--FOOTER -> BASE.HTML-->