<!--extend base.html-->
{% extends 'content/base-en.html' %}
<!--load tags-->
{% load static %}
{% load i18n %}

<!--your title block here-->
{% block title %}
{% translate 'LLC "M-LIT"' %}
{% endblock title %}
<!--title end-->
{% block description %}
{% translate 'Production of pipeline fittings and spare parts for rolling stock' %}
{% endblock description %}


<!--HEADER -> BASE.HTML-->


<!--your content block here-->
{% block content %}

<body class="" id="header"
      style="font-family: 'Roboto'; background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(245,238,238,1) 45%, rgba(238,238,245,1) 60%, rgba(238,245,238,1) 65%, rgba(238,238,238,1) 100%)">

<!--SWIPER-->
<section class="container-fluid mb-9 shadow-lg"
         style="background: linear-gradient(0deg, rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url({% static 'images/bg1.jpg' %});
        height: 400px;
        background-position: 0% 90%;
        background-size: 150vh;
        background-repeat: repeat;
        background-attachment: fixed">
    <div class="row">
        <div class="col-12 px-0">
            <div class="swiper mySwiper" style="height: 400px; max-width: 1000px">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ">
                        <img src="{% static 'images/D75_5057.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/D75_5044.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/D75_5005.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/D75_5001.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!--SWIPER END-->

<!--ADD STATICS FURTHER DOWN-->


<!--ABOUT US-->
<section class="my-5 mb-10 text-center text-lg-start" id="about_us">
    <!-- Jumbotron -->
    <div class="container">
        <div class="row g-0">
            <div data-aos="fade-right" data-aos-duration="1000" class="col-lg-6 my-auto"><img
                    src="{% static 'images/MLIT-01.jpg' %}"
                    class="w-75 rounded-4 shadow-lg" alt="" draggable="false"></div>
            <div class="col-lg-6 my-auto">
                <div class="card cascading-right"
                     style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
                    <div class="card-body py-5 px-md-5 shadow-lg"><h2 class="fw-bold mb-4">{% translate 'About the company' %}</h2>
                        <p class="fw-bold">{% translate 'LIMITED LIABILITY COMPANY "M-LIT"' %} </p>
                        <div class="row">
                            <div data-aos="zoom-in" class="col-lg-6"><p>
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>{% translate 'Pipe fittings' %}</span>
                            </p>
                            </div>
                            <div data-aos="zoom-in" data-aos-delay="400" class="col-lg-6">
                                <p>
                                    <i class="fas fa-check-circle text-success me-2"></i>
                                    <span>{% translate 'Spare parts for rolling stock' %}</span>
                                </p>
                            </div>
                        </div>
                        <p class="">
                            {% blocktrans %}
                            (formerly JSC Nikopol Pipeline Fittings Plant) - large
                            a specialized foundry, known in Ukraine and abroad for the production
                            cast iron products.
                            The enterprise is equipped with universal and specialized equipment of famous
                            manufacturers:
                            {% endblocktrans %}
                        </p>

                        <li class="fw-bold">
                            {% blocktrans %}
                            Three-ton induction furnace “Inductotherm” (Inductotherm Europe Ltd., UK)
                            2017
                            {% endblocktrans %}
                        </li>
                        <li class="fw-bold">
                            {% blocktrans %}
                            Automatic molding line "DISA MATCH 32Х32" (DISA Industries AS
                            (Denmark 2017)
                            {% endblocktrans %}
                        </li>
                        <li class="fw-bold">
                            {% blocktrans %}
                            Automatic mixture preparation department "Eirich" Maschinenfabrik Gustav Eirich
                            GmbH & Co KG (Germany), 2017
                            {% endblocktrans %}
                        </li>
                        <li class="fw-bold">
                            {% blocktrans %}
                            Core machines "Laempe" Laempe & Mössner GmbH (Nimechchina 2016). Manufacturing method
                            Cold-box process. Large Rod Site OMEGA Foundry Machinery Limited (UK
                            2016)
                            {% endblocktrans %}
                        </li>
                        <li class="fw-bold">
                            {% blocktrans %}
                            Core and pattern making equipment Haas Automation Inc.
                            (USA), 2017
                            {% endblocktrans %}
                        </li>
                        <li class="fw-bold">
                            {% blocktrans %}
                            Thermo Fisher Scientific Spectral Laboratory for Metal Quality Control
                            (Switzerland), 2017
                            {% endblocktrans %}
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-5" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
            <div class="card-body">
                {% blocktrans %}
                The plant has a full production cycle - a foundry shop, a machining shop,
                repair and tool shop, assembly area, testing complex and warehouse
                farming
                The main specialization of the plant is the production of pipeline fittings and spare parts
                rolling stock.
                {% endblocktrans %}
            </div>
        </div>
        <div class="row mt-3">

            <div class="col">
                <div class="card" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
                    <div class="card-body">
                        <h5>{% translate '1.Pipe fittings' %}</h5>
                        <p>
                            {% blocktrans %}
                            The company produces industrial pipeline fittings, which are used as
                            shut-off devices on pipelines to shut off the working environment. Products from our factory
                            Can
                            meet everywhere - from huge metallurgical enterprises, thermal power plants, quarries to irrigation
                            systems in agriculture, in public utilities of any settlement.
                            {% endblocktrans %}
                        </p>
                        <p class="fw-bold">{% translate 'Product range:' %}</p>
                        <li class="fw-bold">{% translate 'Valve valves 30x6br PN10-16 DN50-500' %}</li>
                        <li class="fw-bold">{% translate 'Valve valves 30ch906br PN10-16 DN50-500 (for water and steam with manual control and electric drive);' %}
                        </li>
                        <li class="fw-bold">{% translate 'Valve valves 30h6bk PN10-16 DN50-500 (for petroleum products and oils)' %}</li>
                        <li class="fw-bold">{% translate 'Valve valves 30ch47bk4 PN6 DN50-150 (for natural gas)' %}</li>
                        <li class="fw-bold">{% translate 'Valve valves 30х47br PN6 DN50-150 (for water, steam, petroleum products, oils)' %}</li>
                        <li class="fw-bold">{% translate 'Rotary check valves without flange PN16 DN50-400' %}</li>
                        <li class="fw-bold">{% translate 'Flange check valve PN16 DN50-200' %}</li>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
                    <div class="card-body">
                        <h5>{% translate '2. Spare parts for rolling stock' %}</h5>
                        <p>
                            {% blocktrans %}
                            The plant's products comply with the ISO 9001 quality management system, and are produced
                            meets the requirements of regulatory documentation, has hygienic certificates, is safe in
                            operation and for the environment.
                            {% endblocktrans %}
                        </p>
                        <p class="fw-bold">{% translate 'Product range:' %}</p>
                        <li class="fw-bold">{% translate 'Locomotive ridge brake pad type "M"' %}</li>
                        <li class="fw-bold">{% translate 'Phosphorous brake pad for electric trains type "F"' %}</li>
                        <li class="fw-bold">{% translate 'Brake pads for passenger cars type "C"' %}</li>
                        <li class="fw-bold">{% translate 'Brake block KT-RITs for cars of the RITs standard' %}</li>
                        <li class="fw-bold">{% translate 'Brake block of the electric locomotive ChS' %}</li>
                        <li class="fw-bold">{% translate 'Friction wedge for freight car bogie' %}</li>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <p></p>
</section>
<!--ABOUT US END-->


<!--OUR PRODUCTS KEY-->

<section>
    <div class="container">
        <h2 class="fw-bold text-center my-5">
            <span data-aos="fade-down" data-aos-delay="100">{% translate 'Railway' %}</span>
            <u data-aos="fade-down" data-aos-delay="200" class="text-success">{% translate 'Products' %}</u>
        </h2>
        <div class="container-fluid text-center">
            <img draggable="false" src="{% static 'images/Train-PNG-File-Download-Free.png' %}" alt=""
                 class="img-fluid rounded-circle" style="max-width: 300px; overflow-x: hidden">
        </div>
        <!--        ЦВЕТ ЗЕЛЕНЫЙ -->
        <div class="row gy-3">
            <div class="bg-image hover-zoom  rounded-4 mb-4 text-center py-3"
                 style="height: auto">
                <img draggable="false"
                     src="{% static 'images/кл2-removebg-preview.png' %}"
                     class="w-25 btn-animate me-2" alt="" style="max-height: 150px; max-width: 150px;">
                <img draggable="false" src="{% static 'images/кл1-removebg-preview.png' %}"
                     class="w-25 btn-animate me-2" style="max-height: 150px; max-width: 150px" alt="">
                <img draggable="false" src="{% static 'images/кт1-removebg-preview.png' %}"
                     class="img-fluid w-25 btn-animate me-2" style="max-height: 150px; max-width: 150px" alt="">
                <img draggable="false" style="max-height: 150px; max-width: 150px"
                     src="{% static 'images/кт2-removebg-preview.png' %}" class="img-fluid w-25 btn-animate me-2"
                     alt="">
                <img draggable="false" style="max-height: 150px; max-width: 150px"
                     src="{% static 'images/кт3-removebg-preview.png' %}" class="img-fluid w-25 btn-animate me-2"
                     alt="">
                <img draggable="false" style="max-height: 150px; max-width: 150px"
                     src="{% static 'images/кт4-removebg-preview.png' %}" class="img-fluid w-25 btn-animate me-2"
                     alt="">
            </div>
            <div class="col-12 col-md-5 text-center mx-auto">
                <h4 class="fw-bold">{% translate 'Klins' %}</h4>
                <div class="mb-2 text-success small">
                    <i class="fas fa-globe-americas me-2"></i>
                    <span>Global</span>
                </div>
                <p class="text-muted">
                    {% blocktrans %}
                    The wedges provide the connection between the bolster and the side frame. Friction on vertical
                    wall
                    the platform dampens the vibrations of the cart
                    {% endblocktrans %}
                </p>
                <a href="badges&Pads" class="d-none d-md-block">
                    <button data-aos="fade-up" class="btn btn-success btn-animate px-3">
                        <span>{% translate 'More details' %}
                            <i class="fas fa-train ms-1"></i>
                        </span>
                    </button>
                </a>
            </div>
            <div class="col-12 col-md-5 text-center mx-auto">
                <h4 class="fw-bold">{% translate 'Pads' %}</h4>
                <div class="mb-2 text-success small">
                    <i class="fas fa-check-circle me-2"></i>
                    <span>Quality</span>
                </div>
                <p class="text-muted">
                    {% blocktrans %}
                    These are brake pads used to provide the required braking performance in brake applications.
                    railway car units.
                    {% endblocktrans %}
                </p>
                <a href="badges&Pads">
                    <button data-aos="fade-up" class="btn btn-success btn-animate px-3">
                        <span>{% translate 'More details' %}
                            <i class="fas fa-train ms-1"></i>
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
<!--OUR PRODUCTS KEY END-->

<div class="container-fluid text-center mt-5">
    <img draggable="false" src="{% static 'images/pipe.png' %}" alt="" class="img-fluid">
</div>
<!--OUR PRODUCTS WATER-->
<section class="container my-5 text-center text-lg-start">
    <h3 class="fw-bold mb-5 text-center">
        <span>{% translate 'Products' %}</span>
        <u class="text-primary">{% translate 'Pipeline' %}</u>
    </h3>
    <div class="row gx-lg-5 my-5">
        <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3 btn-animate"
                 data-mdb-ripple-color="primary" data-mdb-ripple-unbound="true" data-mdb-ripple-radius="50"
                 style="height: 265px">
                <img draggable="false" src="{% static 'images/piping/zatvor-19ch16br.png' %}" class="mt-5 pt-3 me-3"
                     alt="">
                <img draggable="false" src="{% static 'images/piping/zatvor-19ch21br.png' %}" class="mt-5 pt-3" alt="">
            </div>
            <h5 class="fw-bold">{% translate 'Prison' %}</h5>
            <div class="mb-3 text-primary small">
            </div>
            <p class="text-muted">
                {% blocktrans %}
                Cast iron flanged check valves designed to prevent backflow of the working medium
                in pipelines transporting water, steam, oil, oils and other petroleum products.
                {% endblocktrans %}
            </p>
            <a href="piping">
                <button data-aos="fade-up" class="btn btn-primary btn-animate px-3">
                        <span>{% translate 'More details' %}
                            <i class="fas fa-droplet ms-1"></i>
                        </span>
                </button>
            </a>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div>
                <div class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3 btn-animate"
                     data-mdb-ripple-color="primary" data-mdb-ripple-unbound="true" data-mdb-ripple-radius="50"
                     style="height: 265px">
                    <img draggable="false" src="{% static 'images/piping/prod1.png' %}" class="img" alt="">
                </div>
                <h5 class="fw-bold">
                    {% translate 'Cast iron valves' %}</h5>
                <div class="mb-3 text-danger small">
                </div>
                <p class="text-muted">
                    {% blocktrans %}
                    Purpose and scope of application: Double-disc parallel valves are designed
                    for installation as a shut-off device on pipelines of various industries
                    industry.
                    {% endblocktrans %}
                </p>
                <a href="piping">
                    <button data-aos="fade-up" class="btn btn-primary btn-animate px-3">
                        <span>{% translate 'More details' %}
                            <i class="fas fa-droplet ms-1"></i>
                        </span>
                    </button>
                </a>
            </div>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0 text-center">
            <div>
                <div class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3 btn-animate"
                     data-mdb-ripple-color="primary" data-mdb-ripple-unbound="true" data-mdb-ripple-radius="50"
                     style="height: 265px">
                    <img draggable="false" src="{% static 'images/piping/vantuz1.png' %}" class="mt-4" alt="">
                </div>
                <h5 class="fw-bold mb-3">{% translate 'Plungers' %}</h5>
                <div class="mb-3 text-warning small mx-auto">
                    <p class="text-muted text-start">
                        {% blocktrans %}
                        Cast iron aeration plungers are designed to automatically remove air when it is
                        accumulation, as well as for its automatic sampling when a vacuum forms in the systems
                        water supply, water heating and other network devices transporting water with temperatures up to
                        363K (900 C).
                        {% endblocktrans %}
                    </p>
                    <a href="piping">
                        <button data-aos="fade-up" class="btn btn-primary btn-animate px-3">
                        <span>{% translate 'More details' %}
                            <i class="fas fa-droplet ms-1"></i>
                        </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR PRODUCTS WATER END-->

<!--OUR PRODUCTS IRON CASTING-->
<section class="container my-5 mb-10">
    <div class="card mb-3 shadow-lg">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-5 col-xl-4 d-none d-lg-flex">
                <img
                        src="{% static 'images/D75_5057.jpg' %}" alt=""
                        class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5 ms-3">
            </div>
            <div class="col-lg-7 col-xl-8 text-center text-md-start">
                <div class="card-body px-md-5">
                    <h3 class="fw-bold mb-4 text-danger"><u>{% translate 'Cast iron' %}</u></h3>
                    <p class="text-muted mb-4">
                        {% blocktrans %}
                        Our client’s company specializes in producing a wide range of
                        cast iron products. Through meticulous attention to detail and superior craftsmanship, we
                        We provide quality solutions that meet various needs.
                        {% endblocktrans %}
                    </p>
                    <div class="row">
                        <div class="col-6 col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>{% translate 'Light hatch' %}</span>
                            </p>
                        </div>
                        <div class="col-6 col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>{% translate 'Hatch average' %}</span>
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <p><i class="fas fa-check text-success me-2"></i>
                                <span>{% translate 'Hatch heavy' %}</span>
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>{% translate 'Anti-vandal hatch' %}</span>
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>{% translate 'Rain catcher' %}</span>
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>{% translate 'Storm grate' %}</span>
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <p>
                                <i class="fas fa-check text-success me-2"></i>
                                <span>{% translate 'Benches' %}</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a data-aos="fade-up" href="iron_casting">
                            <button class="btn btn-danger btn-animate px-3">
                            <span>{% translate 'More details' %}
                                <i class="fas fa-fill-drip ms-1"></i>
                            </span>
                            </button>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!--IRON CASTING END-->
<!--OUR PRODUCTS END-->


<!--OUR ADVANTAGES-->
<section class="container my-5 mb-10">
    <h2 class="fw-bold mb-5 text-center">
        <u class="text-primary">{% translate 'Strategic' %}</u>
        <span>{% translate 'partner' %}</span>
    </h2>
    <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="bg-image rounded-5 shadow-lg"
                 style="background-image: url({% static 'images/D75_4995.jpg' %}); height: 560px; background-size: cover; background-position: 50% 50%;">
                <div data-aos="fade-up" data-aos-duration="1000" class="mask1"
                     style="background-color: rgba(0, 0, 0, 0.5)">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="px-4 py-5 px-md-5 text-white text-center"><h3
                                class="text-uppercase fw-bold mb-4"><span>The Future is</span>
                            <u class="text-primary">NOW</u></h3>
                            <p class="text-light" style="">
                                {% blocktrans %}
                                Our plant is equipped with the most modern and expensive
                                equipment
                                for metal and cast iron processing, including modern furnaces and processing machines. We
                                We give priority to innovative technologies to ensure high quality and accuracy
                                our products. Using advanced techniques and the latest equipment, we guarantee
                                reliability and quality at every stage of production.
                                {% endblocktrans %}
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 mb-4 mb-lg-0">
            <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow" style="background-color: hsl(231, 52.6%, 20%)">
                        <i class="fas fa-industry fa-lg text-white"></i></div>
                </div>
                <div class="flex-grow-1 ms-4">
                    <p class="fw-bold mb-1">{% translate 'Full cycle plant' %}</p>
                    <p class="text-muted mb-0">
                        {% blocktrans %}
                        Our integrated manufacturing process provides control
                        quality and timely delivery, with everything from design to finishing carried out
                        under one roof.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow" style="background-color: hsl(231, 52.6%, 20%)"><i
                            class="fas fa-shield-alt fa-lg text-white fa-fw"></i></div>
                </div>
                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">{% translate 'Modern equipment' %}</p>
                    <p class="text-muted mb-0">
                        {% blocktrans %}
                        Equipped with the most modern equipment, we efficiently produce
                        high quality cast iron products with precision and accuracy.
                        {% endblocktrans %}
                    </p></div>
            </div>
            <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow" style="background-color: hsl(231, 52.6%, 20%)"><i
                            class="fas fa-shipping-fast fa-lg text-white fa-fw"></i></div>
                </div>
                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">{% translate 'Fast delivery' %}</p>
                    <p class="text-muted mb-0">
                        {% blocktrans %}
                        We give priority to quickly fulfilling orders without damage
                        for quality, ensuring reliable delivery and meeting project deadlines. Ensuring accessibility
                        our products all over the world
                        {% endblocktrans %}
                    </p></div>
            </div>
            <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                    <div class="p-3 rounded-4 shadow" style="background-color: hsl(231, 52.6%, 20%)"><i
                            class="fas fa-chart-pie fa-lg text-white fa-fw"></i></div>
                </div>
                <div class="flex-grow-1 ms-4"><p class="fw-bold mb-1">{% translate 'Quality guaranteed!' %}</p>
                    <p class="text-muted mb-0">
                        {% blocktrans %}
                        Our strict quality control measures, from raw materials to final inspection,
                        guarantee superior products that exceed customer expectations.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OUR ADVANTAGES END-->

<!--OUR CLIENT-->
<section class="container my-5 text-center">
    <h2 class="fw-bold mb-5">
        <span>{% translate 'Ours' %}</span>
        <u class="text-primary">{% translate 'Clients' %}</u>
    </h2>
    <div class="row gx-lg-5 gy-4">
        <div class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/AMU.jpg' %}"
                 class="shadow mb-3" alt=""
                 style="width: auto; height: 100px">
            <p class="fw-bold">ArcelorMittal</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/Arm.jpg' %}"
                 class="shadow mb-3" alt=""
                 style="width: auto; height: 100px">
            <p class="fw-bold">{% translate 'Арматура Украины' %}</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4 my-auto">
            <img src="{% static 'images/clients/Inter.jpg' %}"
                 class="shadow mb-3" alt=""
                 style="width: auto; max-height: 100px">
            <p class="fw-bold">Interext LLC</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4 my-auto">
            <img src="{% static 'images/clients/Lem.jpg' %}"
                 class="shadow mb-3" alt=""
                 style="width: auto; max-height: 100px">
            <p class="fw-bold">Lemitrans</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/prom.jpg' %}"
                 class="shadow mb-3" alt=""
                 style="width: auto; max-height: 100px">
            <p class="fw-bold">Promarmatura</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/Днипро.png' %}"
                 class="shadow mb-3" alt=""
                 style="width: auto; max-height: 100px">
            <p class="fw-bold">{% translate 'Днепровагонмаш' %}</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/Карпаты.png' %}"
                 class="shadow mb-3" alt=""
                 style="width: auto; max-height: 100px">
            <p class="fw-bold ">KARPATY</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/Краков.png' %}"
                 class="shadow mb-3" alt=""
                 style="width: auto; max-height: 100px">
            <p class="fw-bold ">{% translate 'Краковский Вагоностроительный Завод' %}</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/Пром.png' %}"
                 class="shadow mb-3" alt=""
                 style="max-height: 100px">
            <p class="fw-bold">Promgroup</p>
        </div>
        <div class="col-6 col-xl-3 col-md-4">
            <img src="{% static 'images/clients/ТГК.png' %}"
                 class="shadow mb-3" alt=""
                 style="max-height: 100px">
            <p class="fw-bold">{% translate 'Горнотранспортная компания' %}</p>
        </div>
    </div>
</section>

<!--OUR CLIENTS END-->


<!--STATS-->
<section class="container my-5 text-center">
    <h2 class="fw-bold mb-7">
        <span>{% translate 'About us at' %}</span>
        <u class="text-primary">{% translate 'in numbers' %}</u>
    </h2>
    <div class="row gx-lg-5">
        <div class="col-lg-4 col-md-12 mb-8 mb-lg-0">
            <div class="card shadow-2-strong h-100">
                <div class="d-flex justify-content-center" style="margin-top: -43px">
                    <div class="p-3 bg-primary rounded-circle shadow-5-strong d-inline-block" data-aos="flip-right"><i
                            class="fas fa-cubes fa-2x text-white"></i></div>
                </div>
                <div class="card-body"><h3 class="fw-bold text-primary mb-3">10</h3> <h5
                        class="text-muted mb-3">{% translate 'Years on the market' %}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-8 mb-lg-0">
            <div class="card shadow-2-strong h-100">
                <div class="d-flex justify-content-center" style="margin-top: -43px">
                    <div class="p-3 bg-primary rounded-circle shadow-5-strong d-inline-block" data-aos="flip-right"
                         data-aos-delay="100"><i
                            class="fas fa-chart-pie fa-2x text-white"></i></div>
                </div>
                <div class="card-body"><h3 class="fw-bold text-primary mb-3"> > 150 000</h3> <h5
                        class="text-muted mb-3">{% translate 'Components produced' %}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-8 mb-lg-0">
            <div class="card shadow-2-strong h-100">
                <div class="d-flex justify-content-center" style="margin-top: -43px">
                    <div class="p-3 bg-primary rounded-circle shadow-5-strong d-inline-block" data-aos="flip-right"
                         data-aos-delay="200"><i
                            class="fas fa-cogs fa-2x text-white"></i></div>
                </div>
                <div class="card-body"><h3 class="fw-bold text-primary mb-3">92%</h3> <h5
                        class="text-muted mb-3">{% translate 'Customers re-order' %}</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--STATS END-->

</body>

{% endblock content %}
<!--content end-->


<!--FOOTER -> BASE.HTML-->