<!--extend base.html-->
{% extends 'content/base.html' %}
<!--load tags-->
{% load static %}
{% load i18n %}

<!--your title block here-->
{% block title %}
{% translate "Public Joint Stock Company 'Nikopol Pipeline Fittings Plant' (Nikopol foundry and mechanical plant 'Bolshevik')" %}
{% endblock title %}
<!--title end-->


<!--HEADER -> BASE.HTML-->


<!--your content block here-->
{% block content %}

<body>
<!--OUR PRODUCTS KEY-->

<section>
    <div class="container">
        <div class="container-fluid text-center">
            <img data-aos="fade-left" draggable="false" src="{% static 'images/Train-PNG-File-Download-Free.png' %}"
                 alt=""
                 class="img-fluid w-50 rounded-circle" style="">
        </div>
    </div>
</section>

<!--PRODUCT 1-->
<!--Main layout-->
<div class="container dark-grey-text my-0">

    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-4 mx-auto my-auto">

            <div data-aos="fade-right"
                 class="bg-image hover-zoom ripple rounded-4 text-center py-3"
                 data-mdb-ripple-color="light">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/Wedge-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/Wedge2-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/Wedge3-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8">

            <!--Content-->
            <div class="p-4">

                <div class="mb-3">
                    <a href="#">
                        <span class="badge badge-success mr-1">Category 2</span>
                    </a>
                    <a href="#">
                        <span class="badge badge-danger mr-1">New</span>
                    </a>
                    <a href="#">
                        <span class="badge badge-info mr-1">Bestseller</span>
                    </a>
                </div>

                <h2>Name</h2>

                <p class="lead font-weight-bold">Description</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia
                    ipsa
                    sint voluptatibus!
                    Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>

                <form class="d-flex justify-content-left">
                    <!-- Default input -->
                    <button class="btn btn-success btn-md my-0 p" type="submit">Get an offer
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </button>
                </form>
            </div>
            <!--Content-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    <hr>

    <!--        PRODUCT 2-->
    <!--Grid row-->
    <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-4 mb-4 mx-auto my-auto">
            <div data-aos="fade-right"
                 class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3"
                 data-mdb-ripple-color="light">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/03KTM-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/04KT_F-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/05_KT_C-removebg-preview.png' %}"
                     class="w-25 w-md-50 btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/05_KT_C-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            </div>
        </div>
        <!--Grid column-->

        <!--            PRODUCT 3-->
        <!--Grid column-->
        <div class="col-md-8 mb-4">
            <!--Content-->
            <div class="p-4">
                <div class="mb-3">
                    <a href="#">
                        <span class="badge badge-success mr-1">Category 2</span>
                    </a>
                    <a href="#">
                        <span class="badge badge-danger mr-1">New</span>
                    </a>
                    <a href="#">
                        <span class="badge badge-info mr-1">Bestseller</span>
                    </a>
                </div>

                <h2>Name</h2>

                <p class="lead font-weight-bold">Description</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia
                    ipsa
                    sint voluptatibus!
                    Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>

                <form class="d-flex justify-content-left">
                    <!-- Default input -->
                    <button class="btn btn-success btn-md my-0 p" type="submit">Get an offer
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </button>
                </form>
            </div>
            <!--Content-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mx-auto my-auto">

            <div data-aos="fade-right"
                 class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3"
                 data-mdb-ripple-color="light">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/Anker-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/Anker_2-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/new_photos/Anker_3-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4">

            <!--Content-->
            <div class="p-4">

                <div class="mb-3">
                    <a href="#">
                        <span class="badge badge-success mr-1">Category 2</span>
                    </a>
                    <a href="#">
                        <span class="badge badge-danger mr-1">New</span>
                    </a>
                    <a href="#">
                        <span class="badge badge-info mr-1">Bestseller</span>
                    </a>
                </div>

                <h2>Name</h2>

                <p class="lead font-weight-bold">Description</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia
                    ipsa
                    sint voluptatibus!
                    Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>

                <form class="d-flex justify-content-left">
                    <!-- Default input -->
                    <button class="btn btn-success btn-md my-0 p" type="submit">Get an offer
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </button>
                </form>
            </div>
            <!--Content-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

            <h4 class="my-4 h2 fw-bold">Look at our other <u class="text-success">products</u></h4>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta
                odit
                voluptates,
                quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-12 col-md-6 text-center">

            <div data-aos="fade-right"
                 class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3 btn-animate"
                 data-mdb-ripple-color="primary">
                <img draggable="false" src="{% static 'images/zatvor-19ch16br.png' %}" class="my-auto pt-3 me-3" alt="">
                <img draggable="false" src="{% static 'images/zatvor-19ch21br.png' %}" class="pt-3 me-3" alt="">
                <img draggable="false" src="{% static 'images/prod1.png' %}" class="img me-3" alt="">
                <img draggable="false" src="{% static 'images/vantuz1.png' %}" class="mt-3" alt="">
            </div>
            <a href="piping">
            <button class="btn btn-primary btn-animate">See more</button>
                </a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-12 col-md-6 text-center">
            <div data-aos="fade-right"
                 class="bg-image hover-zoom ripple rounded-4 mb-4 text-center py-3 btn-animate"
                 data-mdb-ripple-color="danger">
            <img src="{% static 'images/dozhdepriemnik.png' %}" alt="" class="" style="max-height: 120px">
            <img src="{% static 'images/livnevka.png' %}" alt="" style="max-height: 120px">
            <img src="{% static 'images/prod4.png' %}" alt="" style="max-height: 120px">
            <img src="{% static 'images/LYUKI-.png' %}" alt="" class="my-3" style="max-height: 120px">
            <img src="{% static 'images/Lyuk-kvadrat2.png' %}" class="my-3" alt="" style="max-height: 120px">
            </div>
            <button class="btn btn-danger">See more</button>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>
<!--Main layout-->

</body>

{% endblock content %}
<!--content end-->


<!--FOOTER -> BASE.HTML-->