<!--extend base.html-->
{% extends 'content/base.html' %}
<!--load tags-->
{% load static %}
{% load i18n %}

<!--your title block here-->
{% block title %}
{% translate "Public Joint Stock Company 'Nikopol Pipeline Fittings Plant' (Nikopol foundry and mechanical plant 'Bolshevik')" %}
{% endblock title %}
<!--title end-->


<!--HEADER -> BASE.HTML-->


<!--your content block here-->
{% block content %}

<body style="background: rgba(238,245,238,1)" id="header">
<!--OUR PRODUCTS KEY-->

<section>
    <div class="container">
        <div class="container-fluid text-center">
            <img data-aos="fade-right" draggable="false" src="{% static 'images/rw/train.png' %}"
                 alt=""
                 class="img-fluid rounded my-0 py-0" style="max-width: 300px">
        </div>
    </div>
</section>

<!--PRODUCT 1-->
<!--Main layout-->
<div class="container dark-grey-text my-0">

    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-4 mx-auto my-0">

            <div class="bg-image hover-zoom ripple rounded-4 text-center"
                 data-mdb-ripple-color="light">
                <img draggable="false"
                     src="{% static 'images/new_photos/Wedge-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img draggable="false"
                     src="{% static 'images/new_photos/Wedge2-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
                <img draggable="false"
                     src="{% static 'images/new_photos/Wedge3-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8">

            <!--Content-->
            <div class="mb-3">
                <a href="#">
                    <span class="badge badge-success mr-1">Railways</span>
                </a>
                <a href="#">
                    <span class="badge badge-danger mr-1">Bestseller</span>
                </a>
                <a href="#">
                    <span class="badge badge-info mr-1">New</span>
                </a>
            </div>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link active"
                            id="ex1-tab-1"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-1"
                            role="tab"
                            aria-controls="ex1-tabs-1"
                            aria-selected="true"
                    >Model М</a
                    >
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                <div
                        class="tab-pane active"
                        id="ex1-tabs-1"
                        role="tabpanel"
                        aria-labelledby="ex1-tab-1"
                >
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Friction wedge</th>
                            <td>15.8 <u>+</u> 1.26</td>
                            <td>212 <u>+</u> 2</td>
                            <td">186 <u>+</u> 2</td>
                            <td">190 <u>+</u> 2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="my-0">Wedges are produced by casting from gray cast iron grade SCH350 DSTU 8833:2019 "Casting of gray iron with lamellar graphite. General specifications," featuring a hollow body. No thermal or mechanical processing is required during manufacturing</p>
            <p class="my-3">The package includes:</p>
            <p class="mt-3 mb-1 mt-1 ms-3"><i
                    class="fas fa-circle-dot fa-xs me-2 text-primary"></i>Friction wedges</p>
            <p class="my-1 mt-1 ms-3"><i
                    class="fas fa-circle-dot fa-xs me-2 text-primary"></i>Passport - for the batch of wedges
            </p>
            <p class="my-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>Quality certificate</p>
            <p class="my-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>Certificate of compliance</p>

            <div class="d-flex justify-content-center">
                <a data-aos="fade-up" class="" href="#">
                    <!-- Default input -->
                    <button class="btn btn-success btn-md my-0 p btn-animate" type="button">Get price
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Content-->

</div>
<!--Grid column-->
<hr>

<!--PRODUCT 2-->
<!--Grid row-->
<div class="container">


<div class="row wow fadeIn">
    <!--Grid column-->
    <div class="col-md-4 mb-4 mx-auto my-0">
        <div class="bg-image hover-zoom ripple rounded-4 text-center"
             data-mdb-ripple-color="light">
            <img draggable="false"
                 src="{% static 'images/new_photos/03KTM-removebg-preview.png' %}"
                 class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            <img draggable="false"
                 src="{% static 'images/new_photos/04KT_F-removebg-preview.png' %}"
                 class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            <img draggable="false"
                 src="{% static 'images/new_photos/05_KT_C-removebg-preview.png' %}"
                 class="w-25 w-md-50 btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            <img draggable="false"
                 src="{% static 'images/new_photos/09_KT_RIZ-removebg-preview.png' %}"
                 class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
        </div>
    </div>
    <!--Grid column-->

    <!--            PRODUCT 3-->
    <!--Grid column-->
    <div class="col-md-8 mb-4">
        <!--Content-->
        <!-- Tabs navs -->
        <div class="mb-3">
            <a href="#">
                <span class="badge badge-success mr-1">Railways</span>
            </a>
            <a href="#">
                <span class="badge badge-danger mr-1">Bestseller</span>
            </a>
            <a href="#">
                <span class="badge badge-info mr-1">New</span>
            </a>
        </div>

        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3" id="ex2" role="tablist">
            <li class="nav-item" role="presentation">
                <a
                        class="nav-link active"
                        id="ex2-tab-1"
                        data-mdb-toggle="tab"
                        href="#ex2-tabs-1"
                        role="tab"
                        aria-controls="ex2-tabs-1"
                        aria-selected="true"
                >Model М</a
                >
            </li>

            <li class="nav-item" role="presentation">
                <a
                        class="nav-link"
                        id="ex2-tab-2"
                        data-mdb-toggle="tab"
                        href="#ex2-tabs-2"
                        role="tab"
                        aria-controls="ex2-tabs-2"
                        aria-selected="true"
                >Model C</a
                >
            </li>

            <li class="nav-item" role="presentation">
                <a
                        class="nav-link"
                        id="ex2-tab-3"
                        data-mdb-toggle="tab"
                        href="#ex2-tabs-3"
                        role="tab"
                        aria-controls="ex2-tabs-3"
                        aria-selected="true"
                >Model Ф</a
                >
            </li>
        </ul>
        <!-- Tabs navs -->

        <!-- Tabs content -->
        <div class="tab-content" id="ex2-content">
            <div
                    class="tab-pane active"
                    id="ex2-tabs-1"
                    role="tabpanel"
                    aria-labelledby="ex2-tab-1"
            >
                <table class="table table-sm table-bordered text-center">
                    <thead>
                    <tr>
                        <th scope="col">Part name</th>
                        <th scope="col">Mass kg.</th>
                        <th scope="col">Length mm.</th>
                        <th scope="col">Width mm.</th>
                        <th scope="col">Height mm.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Type 'M' brake pad</th>
                        <td>14.7 <u>+</u> 0.7</td>
                        <td>340</td>
                        <td>158.5</td>
                        <td>97</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div
                    class="tab-pane"
                    id="ex2-tabs-3"
                    role="tabpanel"
                    aria-labelledby="ex1-tab-1"
            >
                <table class="table table-sm table-bordered text-center">
                    <thead>
                    <tr>
                        <th scope="col">Part name</th>
                        <th scope="col">Mass kg.</th>
                        <th scope="col">Length mm.</th>
                        <th scope="col">Width mm.</th>
                        <th scope="col">Height mm.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Type 'F' brake pad</th>
                        <td>14.6 <u>+</u> 0.7</td>
                        <td>408</td>
                        <td>80</td>
                        <td>125</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div
                    class="tab-pane"
                    id="ex2-tabs-2"
                    role="tabpanel"
                    aria-labelledby="ex1-tab-1"
            >
                <table class="table table-sm table-bordered text-center">
                    <thead>
                    <tr>
                        <th scope="col">Part name</th>
                        <th scope="col">Mass kg.</th>
                        <th scope="col">Length mm.</th>
                        <th scope="col">Width mm.</th>
                        <th scope="col">Height mm.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Type 'C' brake pad</th>
                        <td>14.8 <u>+</u> 0.74</td>
                        <td>408</td>
                        <td>80</td>
                        <td>125</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <p class="my-0">The pads are made by casting from cast iron, the chemical composition of which must meet the standards specified in GOST 30249-97. They feature a metal clip and a metal frame which should be cast flush with the surface of the pad.</p>
        <p class="my-3">The package includes:</p>
        <p class="mt-3 mb-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>Brake pads</p>
        <p class="my-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>Batch certificate for brake pads</p>
        <p class="my-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>Quality certificate</p>
        <p class="my-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>Certificate of compliance</p>

        <div class="d-flex justify-content-center">
            <a data-aos="fade-up" class="" href="#">
                <!-- Default input -->
                <button class="btn btn-success btn-md my-0 p btn-animate" type="button">Get price
                    <i class="fas fa-shopping-cart ml-1"></i>
                </button>
            </a>
        </div>
    </div>
</div>
    </div>
<!--Content-->

<hr>

<!--PRODUCT 3-->
<!--Grid row-->
<div class="container">


<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-4 mx-auto my-0">

        <div class="bg-image hover-zoom ripple rounded-4 text-center"
             data-mdb-ripple-color="light">
            <img draggable="false"
                 src="{% static 'images/new_photos/Anker-removebg-preview.png' %}"
                 class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            <img draggable="false"
                 src="{% static 'images/new_photos/Anker_2-removebg-preview.png' %}"
                 class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
            <img draggable="false"
                 src="{% static 'images/new_photos/Anker_3-removebg-preview.png' %}"
                 class="btn-animate mx-3 my-3" alt="" style="max-height: 150px; max-width: 150px;">
        </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-8 mb-4">
        <!--Content-->
        <!-- Tabs navs -->
        <div class="mb-3">
            <a href="#">
                <span class="badge badge-success mr-1">Railways</span>
            </a>
            <a href="#">
                <span class="badge badge-danger mr-1">Bestseller</span>
            </a>
            <a href="#">
                <span class="badge badge-info mr-1">New</span>
            </a>
        </div>

        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3" id="ex3" role="tablist">
            <li class="nav-item" role="presentation">
                <a
                        class="nav-link active"
                        id="ex3-tab-1"
                        data-mdb-toggle="tab"
                        href="#ex1-tabs-1"
                        role="tab"
                        aria-controls="ex1-tabs-1"
                        aria-selected="true"
                >Model name</a
                >
            </li>
        </ul>
        <!-- Tabs navs -->

        <!-- Tabs content -->
        <div class="tab-content" id="ex3-content">
            <div
                    class="tab-pane active"
                    id="ex3-tabs-1"
                    role="tabpanel"
                    aria-labelledby="ex1-tab-1"
            >
                <table class="table table-sm table-bordered text-center">
                    <thead>
                    <tr>
                        <th scope="col">Part name</th>
                        <th scope="col">Mass kg.</th>
                        <th scope="col">Length mm.</th>
                        <th scope="col">Width mm.</th>
                        <th scope="col">Height mm.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">???</th>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                        <td>???</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam autem cumque
            deleniti deserunt dolor doloremque doloribus earum, facilis hic maiores nisi nostrum officiis provident quam
            quia quo saepe sapiente!
        </p>
        <p class="my-3">???</p>
        <p class="mt-3 mb-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>???</p>
        <p class="my-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>???</p>
        <p class="my-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>???</p>
        <p class="my-1 mt-1 ms-3"><i
                class="fas fa-circle-dot fa-xs me-2 text-primary"></i>???</p>

        <div class="d-flex justify-content-center">
            <a data-aos="fade-up" class="" href="#">
                <!-- Default input -->
                <button class="btn btn-success btn-md my-0 p btn-animate" type="button">Get price
                    <i class="fas fa-shopping-cart ml-1"></i>
                </button>
            </a>
        </div>
    </div>

</div>
    </div>
<!--Grid row-->

<hr>
<!--Other products-->
<!--Grid row-->
<div class="container">


<div class="row d-flex justify-content-center wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 text-center">

        <h4 class="my-4 h2 fw-bold">Look at our other <u class="text-success">products</u></h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta
            odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

    </div>
    <!--Grid column-->

</div>
    </div>
<!--Grid row-->

<!--Grid row-->
<div class="container">


<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-12 col-md-6 text-center">

        <div class="bg-image ripple rounded-4 mb-4 text-center py-3 "
             data-mdb-ripple-color="primary" data-mdb-ripple-unbound="true" data-mdb-ripple-radius="50">
            <img draggable="false"
                 src="{% static 'images/piping/zatvor-19ch16br.png' %}"
                 class="my-auto pt-3 me-3 btn-animate" alt="">
            <img draggable="false"
                 src="{% static 'images/piping/zatvor-19ch21br.png' %}" class="pt-3 me-3 btn-animate"
                 alt="">
            <img draggable="false"
                 src="{% static 'images/piping/prod1.png' %}" class="img me-3 btn-animate" alt="">
            <img draggable="false" src="{% static 'images/vantuz1.png' %}"
                 class="mt-3 btn-animate" alt="">
        </div>
        <a href="piping">
            <button data-aos="fade-up" class="btn btn-primary btn-animate">See more</button>
        </a>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-12 col-md-6 text-center">
        <div class="bg-image ripple rounded-4 mb-4 text-center py-3 "
             data-mdb-ripple-color="danger" data-mdb-ripple-unbound="true" data-mdb-ripple-radius="50">
            <img draggable="false" src="{% static 'images/dozhdepriemnik.png' %}" alt=""
                 class="btn-animate"
                 style="max-height: 120px">
            <img draggable="false"
                 src="{% static 'images/livnevka.png' %}" alt="" class="btn-animate" style="max-height: 120px">
            <img draggable="false"
                 src="{% static 'images/prod4.png' %}" alt="" class="btn-animate" style="max-height: 120px">
            <img draggable="false" src="{% static 'images/LYUKI-.png' %}" alt=""
                 class="my-3 btn-animate" style="max-height: 120px">
            <img draggable="false"
                 src="{% static 'images/Lyuk-kvadrat2.png' %}" class="my-3 mx-3 btn-animate" alt=""
                 style="max-height: 120px">
        </div>
        <a href="iron_casting">
            <button data-aos="fade-up" class="btn btn-danger btn-animate">See more</button>
        </a>
    </div>
    <!--Grid column-->
</div>
<!--Grid row-->
</div>
<!--Main layout-->
</div>
</body>

{% endblock content %}
<!--content end-->


<!--FOOTER -> BASE.HTML-->