<!--extend base.html-->
{% extends 'content/base.html' %}
<!--load tags-->
{% load static %}
{% load i18n %}

<!--your title block here-->
{% block title %}
{% translate "Public Joint Stock Company 'Nikopol Pipeline Fittings Plant' (Nikopol foundry and mechanical plant 'Bolshevik')" %}
{% endblock title %}
<!--title end-->


<!--HEADER -> BASE.HTML-->


<!--your content block here-->
{% block content %}

<body style="background: rgba(238,238,245,1)" id="header">
<!--OUR PRODUCTS KEY-->

<section>
    <div class="container">
        <div class="container-fluid text-center">
            <img data-aos="fade-left" draggable="false" src="{% static 'images/piping/pipe.png' %}"
                 alt=""
                 class="img-fluid rounded my-3 py-0" style="">
        </div>
    </div>
</section>

<!--PRODUCT 1-->
<!--Main layout-->
<div class="container dark-grey-text mb-0 mt-5">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mx-auto my-0">

            <div data-aos="fade-right"
                 class="bg-image hover-zoom ripple rounded-4 text-center "
                 data-mdb-ripple-color="primary">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/piping/02DU80_4-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 250px">
                <img data-aos-delay="200" draggable="false"
                     src="{% static 'images/piping/02DU80_2-removebg-preview.png' %}"
                     class="btn-animate mx-3 my-3" alt="" style="max-height: 250px">
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8">

            <!--Content-->
            <h2 class="my-0">Задвижки параллельные, двухдисковые 30ч6бр
                <span>
                <a
                        tabindex="0"
                        class="btn btn-lg btn-info px-2 py-1"
                        role="button"
                        data-mdb-toggle="popover"
                        data-mdb-trigger="focus"
                        title="Назначние и область применения"
                        data-mdb-content="Задвижки параллельные двухдисковые на номинальное давление PN10 предназначены
                        для установки в качестве запорного устройства на трубопроводах различных отраслей промышленности"
                ><i class="far fa-circle-question"></i>
                </a>
            </span>
            </h2>
            <div class="my-0 user-select-none">
                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                <span class="badge badge-light mr-1"><i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam</span>
                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
            </div>
            <h5 class="mt-2">DN 50-500 PN10, Tmax=225 C(ДСТУ ГОСТ 5762:2004)</h5>
            <h6>Корпус - СЧ-18, СЧ20, кольца и втулка - латунь</h6>
            <!-- Tabs navs -->
            <p class="my-0">Models' table:</p>
            <ul class="nav nav-tabs" id="ex1" role="tablist">

                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-1"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-1"
                            role="tab"
                            aria-controls="ex1-tabs-1"
                            aria-selected="true"
                    >DN 50</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-2"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-2"
                            role="tab"
                            aria-controls="ex1-tabs-2"
                            aria-selected="false"
                    >DN 80</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-3"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-3"
                            role="tab"
                            aria-controls="ex1-tabs-3"
                            aria-selected="false"
                    >DN 100</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-4"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-4"
                            role="tab"
                            aria-controls="ex1-tabs-4"
                            aria-selected="false"
                    >DN 125/100</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-5"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-5"
                            role="tab"
                            aria-controls="ex1-tabs-5"
                            aria-selected="false"
                    >DN 150</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-6"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-6"
                            role="tab"
                            aria-controls="ex1-tabs-6"
                            aria-selected="false"
                    >DN 200</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-7"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-7"
                            role="tab"
                            aria-controls="ex1-tabs-7"
                            aria-selected="false"
                    >DN 250</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-8"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-8"
                            role="tab"
                            aria-controls="ex1-tabs-8"
                            aria-selected="false"
                    >DN 300</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-9"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-9"
                            role="tab"
                            aria-controls="ex1-tabs-9"
                            aria-selected="false"
                    >DN 350/300</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-10"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-10"
                            role="tab"
                            aria-controls="ex1-tabs-10"
                            aria-selected="false"
                    >DN 400</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link px-2"
                            id="ex1-tab-11"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-11"
                            role="tab"
                            aria-controls="ex1-tabs-11"
                            aria-selected="false"
                    >DN 500</a
                    >
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                <div
                        class="tab-pane fade show"
                        id="ex1-tabs-1"
                        role="tabpanel"
                        aria-labelledby="ex1-tab-1"
                >
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>12,5</td>
                            <td>180</td>
                            <td>314/378</td>
                            <td>166</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>13</td>
                            <td>180</td>
                            <td>856</td>
                            <td>320***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>13</td>
                            <td>180</td>
                            <td>314/378</td>
                            <td>166</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>26</td>
                            <td>210</td>
                            <td>447/537</td>
                            <td>224</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>27</td>
                            <td>210</td>
                            <td>977</td>
                            <td>320</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>26</td>
                            <td>210</td>
                            <td>447/537</td>
                            <td>224</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>35</td>
                            <td>230</td>
                            <td>514/630</td>
                            <td>240</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>37</td>
                            <td>230</td>
                            <td>1043</td>
                            <td>320***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>35</td>
                            <td>230</td>
                            <td>514/630</td>
                            <td>240</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>45</td>
                            <td>255</td>
                            <td>529/646</td>
                            <td>240</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>42</td>
                            <td>255</td>
                            <td>1058</td>
                            <td>320***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>45</td>
                            <td>255</td>
                            <td>529/646</td>
                            <td>240</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>60</td>
                            <td>280</td>
                            <td>529/546</td>
                            <td>240</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>60</td>
                            <td>280</td>
                            <td>1058</td>
                            <td>320***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>62</td>
                            <td>280</td>
                            <td>529/546</td>
                            <td>240</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-6" role="tabpanel" aria-labelledby="ex1-tab-6">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>113</td>
                            <td>450</td>
                            <td>863/1067</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>118</td>
                            <td>450</td>
                            <td>1166.5</td>
                            <td>645***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>118</td>
                            <td>450</td>
                            <td>863/1067</td>
                            <td>400</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-7" role="tabpanel" aria-labelledby="ex1-tab-7">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>175</td>
                            <td>450</td>
                            <td>1025/1280</td>
                            <td>460</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>175</td>
                            <td>450</td>
                            <td>1324</td>
                            <td>645***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>183</td>
                            <td>450</td>
                            <td>1025/1280</td>
                            <td>460</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-8" role="tabpanel" aria-labelledby="ex1-tab-8">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>226</td>
                            <td>500</td>
                            <td>1195/1505</td>
                            <td>508</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>230</td>
                            <td>500</td>
                            <td>1490</td>
                            <td>645***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>226</td>
                            <td>500</td>
                            <td>1195/1505</td>
                            <td>508</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-9" role="tabpanel" aria-labelledby="ex1-tab-9">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>271</td>
                            <td>550</td>
                            <td>1225/1535</td>
                            <td>508</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>275</td>
                            <td>550</td>
                            <td>1590</td>
                            <td>645***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>271</td>
                            <td>550</td>
                            <td>1225/1535</td>
                            <td>508</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-10" role="tabpanel" aria-labelledby="ex1-tab-10">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>436</td>
                            <td>600</td>
                            <td>1532/1942</td>
                            <td>620</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>440</td>
                            <td>600</td>
                            <td>1840</td>
                            <td>645***</td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>436</td>
                            <td>600</td>
                            <td>1532/1942</td>
                            <td>620</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane fade" id="ex1-tabs-11" role="tabpanel" aria-labelledby="ex1-tab-11">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Part name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Mass kg.</th>
                            <th scope="col">Length mm.</th>
                            <th scope="col">Height mm.</th>
                            <th scope="col">Width mm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">30ч6бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>815</td>
                            <td>700</td>
                            <td>1537</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">30ч906бр</th>
                            <td>
                                <span class="badge badge-primary mr-1"><i class="fas fa-droplet"></i> Water</span>
                                <span class="badge badge-light mr-1">
                                    <i class="fas fa-water" style="transform: rotate(90deg)"></i> Steam
                                    </span>
                            </td>
                            <td>939</td>
                            <td>700</td>
                            <td>1930</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">30ч6бк2</th>
                            <td>
                                <span class="badge badge-dark mr-1"><i class="fas fa-droplet"></i> Oil</span>
                                <span class="badge badge-warning mr-1"><i class="fas fa-droplet"></i> Oil</span>
                            </td>
                            <td>815</td>
                            <td>700</td>
                            <td>1537</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p class="my-0 text-muted">*The fractional notation of the nominal diameter means: in the numerator DN,
                    in the denominator the
                    effective diameter (narrowed passage);</p>
                <p class="my-0 text-muted">** The height is indicated by two numbers: the first number is the height of
                    the latch in the closed
                    state, the second number is the height of the latch in the open state.</p>
                <p class="my-0 text-muted">***The width is indicated with an electric drive</p>
                <div class="d-flex">

                    <a class="mx-auto" href="#">
                        <!-- Default input -->
                        <button class="btn btn-primary btn-md my-0 btn-animate" type="button">Get an offer
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </button>
                    </a>
                </div>
            </div>
            <!-- Tabs content -->


        </div>
        <!--Content-->

    </div>
    <!--Grid column-->

    <hr class="my-3">


    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn mt-5">

        <!--Grid column-->
        <div class="col-md-6 text-center">

            <h4 class="my-4 h2 fw-bold">Look at our other <u class="text-success">products</u></h4>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta
                odit
                voluptates,
                quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-12 col-md-6 text-center">

            <div class="bg-image ripple rounded-4 mb-4 text-center py-3 "
                 data-mdb-ripple-color="primary">
                <img data-aos="zoom-in-right" data-aos-delay="150" draggable="false"
                     src="{% static 'images/zatvor-19ch16br.png' %}"
                     class="my-auto pt-3 me-3 btn-animate" alt="">
                <img data-aos="zoom-in-right" data-aos-delay="100" draggable="false"
                     src="{% static 'images/zatvor-19ch21br.png' %}" class="pt-3 me-3 btn-animate"
                     alt="">
                <img data-aos="zoom-in-right" data-aos-delay="50" draggable="false"
                     src="{% static 'images/prod1.png' %}" class="img me-3 btn-animate" alt="">
                <img data-aos="zoom-in-right" draggable="false" src="{% static 'images/vantuz1.png' %}"
                     class="mt-3 btn-animate" alt="">
            </div>
            <a href="piping">
                <button data-aos="fade-up" class="btn btn-primary btn-animate">See more</button>
            </a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-12 col-md-6 text-center">
            <div class="bg-image ripple rounded-4 mb-4 text-center py-3 "
                 data-mdb-ripple-color="danger">
                <img draggable="false" data-aos="zoom-in-right" src="{% static 'images/dozhdepriemnik.png' %}"
                     alt=""
                     class="btn-animate"
                     style="max-height: 120px">
                <img draggable="false" data-aos="zoom-in-right" data-aos-delay="100"
                     src="{% static 'images/livnevka.png' %}" alt="" class="btn-animate" style="max-height: 120px">
                <img draggable="false" data-aos="zoom-in-right" data-aos-delay="200"
                     src="{% static 'images/prod4.png' %}" alt="" class="btn-animate" style="max-height: 120px">
                <img draggable="false" data-aos="zoom-in-right" src="{% static 'images/LYUKI-.png' %}" alt=""
                     class="my-3 btn-animate" style="max-height: 120px">
                <img draggable="false" data-aos="zoom-in-right" data-aos-delay="100"
                     src="{% static 'images/Lyuk-kvadrat2.png' %}" class="my-3 mx-3 btn-animate" alt=""
                     style="max-height: 120px">
            </div>
            <a href="iron_casting">
                <button data-aos="fade-up" class="btn btn-danger btn-animate">See more</button>
            </a>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>
<!--Main layout-->

</body>

{% endblock content %}
<!--content end-->


<!--FOOTER -> BASE.HTML-->